{% extends 'base.html.twig' %}

{% block body %}
</br></br></br></br>
   <table class='table table-bordered'>
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Descirption</th>
         <th>Created Date</th>
        
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for blog in blogs %}
      <tr>
        <td scope=row>{{blog.id}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.description |striptags|slice(0, 20) }}</td>
        <td>{{blog.createDate | date('F j, Y, g:i a')}}</td>
        <td>
        <a href={{ path('blog_details', {'id': blog.id}) }} class='btn btn-success'>View</a>
        <a href={{ path('blog_edit',    {'id': blog.id}) }} class='btn btn-default'>Edit</a>
        <a href={{ path('blog_delete', {'id': blog.id}) }} class='btn btn-danger'>Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}